<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}!</h1>
</div>

<div class="container">
  <div class="row">
    <div class="switch" *ngFor="let switch of switches; let i = index">
      <button *ngIf="switch" [ngClass]="{ on: switch }" (click)="turnSwitch(i)">
        ON
      </button>

      <button
        *ngIf="!switch"
        [ngClass]="{ on: switch }"
        (click)="turnSwitch(i)"
      >
        OFF
      </button>
    </div>
  </div>
</div>
